#header {
  background-color: rgb(26, 26, 26);
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

#header_title {
  flex: 1;
}
#header_title .title {
  text-align: center;
  font-size: 5.2rem;
  font-weight: bold;
  padding: 2rem;
  white-space: nowrap;
}
#header_logo {
  text-align: center;
}
#header_logo .logo {
  font-weight: bolder;
  font-size: 4rem;
  height: 8rem;
  width: 8rem;
  color: rgb(26, 26, 26);
  background-color: #ccc;
  border-radius: 50%;
  animation: infiniteTurn 6s linear infinite;
}
#header_filler {
  height: 8rem;
  width: 8rem;
}
#header_nav {
  flex-direction: column;
  gap: 1rem;
}
#header_nav > .header_units {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  justify-self: center;
  align-self: center;
}
.header_units span {
  vertical-align: center;
}
#header_search {
  margin: 1rem;
  flex-direction: column;
}
#header_search form {
  width: 100%;
  max-width: 40rem;
}
#header_search .input_ctn {
  width: 100%;
}
#header_search label {
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid white;
}
#header_search label input {
  background-color: unset;
  color: unset;
  outline: unset;
  border: none;

  flex: 1;
  padding: 1rem;
  font-size: 2rem;
}
#header_search button {
  color: unset;
  background-color: unset;
  cursor: pointer;
  border-radius: 0;
  border: none;

  align-self: stretch;
  flex-basis: 6rem;
}
#header_search button span {
  user-select: none;
}
#header_search a {
  user-select: none;
}

#error {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
}
#nav {
  margin-top: 12rem;
}
