.hero_title {
  text-align: center;
  font-weight: bolder;
  font-size: 2.8rem;
}

#main__ctn {
  position: relative;
  margin: 2rem 0 10rem;
}

#main {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24.4rem, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 2rem;
}

#main .box {
  display: grid;
  grid-template-columns: 3.2rem 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

#main .box .box_icon {
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: stretch;
  justify-self: center;
}
#main .box .box_name {
  font-size: 1.6rem;
}
#main .box .box_data {
  font-size: 1.6rem;
}

/* style weather icon */
img[data-icon] {
  width: 100%;
}

/* display giphy image */
/* #giphy__weather__ctn {
}
#giphy__weather__ctn h1 {
} */

.giphy__img__ctn {
  width: 100%;
  max-width: 40rem;
  margin: 2rem auto;
}

.giphy__img__ctn img {
  width: 100%;
}

@media screen and (max-width: 487px) {
  #main .box {
    justify-self: center;
  }
  #header {
    flex-direction: column-reverse;
  }

  #header #header_filler {
    display: none;
  }
}
